
.main{
	width:100%;
	background:#f7f7f7;
	min-height:300px;
}

.container > .row > div{
	z-index:10;
	
}

ul.nav-tabs.affix{
	margin-top:-180px;
}

.main .row > div{
	margin-top:70px;
}

.main .row .wrap{
	margin-top:85px;
}


.sange .row > div > a{
	display:inline-block;
	width:166px;
	height:166px;
	margin-left:40px;
}

.sange .row > div > a > img{
	width:100%;
	height:100%;
}

@media screen and (max-width:420px){
	.sange .row > div > a{
	width:100px;
	height:105px;
	margin-top:50px;
}
}


/*ср*/
.rightnone{
	background:#fff;
}